startup --host_jvm_args=-Dbazel.DigestFunction=SHA1

common --color=yes

# Use in-memory fs as sandbox
build --experimental_sandbox_base=/dev/shm

build --action_env=PATH="/bin:/usr/bin"
run --action_env=SVGA_VGPU10=0
run --action_env=PONY_ROOT=/home/ocean/PublicCourse
run --test_env=SVGA_VGPU10=0
run --test_env=PONY_ROOT=/home/ocean/PublicCourse
build --crosstool_top=//common/toolchain:default
build --jobs 8 --ram_utilization_factor 50

# Address Sanitizer
build:asan --strip=never
build:asan --copt="-fsanitize=address"
build:asan --copt="-g"
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt="-fsanitize=address"
build:asan --custom_malloc=@bazel_tools//tools/cpp:malloc
